body {
  height: 100vh;
  margin: 0;
  text-align: center;
}

.game-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  padding: 20px;
  row-gap: 20px;
}

.game-title,
.game-controls {
  margin: 0 0 20px;
}

.tile-count {
  border: none;
  border-bottom: solid;
  border-bottom-color: rebeccapurple;
  /* border-radius: 5px; */
  font-size: 16px;
  line-height: 24px;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
  width: 15vw;
}

#btnStart,
.reset {
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 40px;
}

#btnStart {
  background-color: #5711a5;
  margin-right: 20px;
}

.reset {
  background-color: #db8b1b;
}

.tile-count,
#btnStart {
  outline: none;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
}

.play-box {
  font-size: 40px;
  font-weight: 700;
  /* height: 80px;
  width: 80px; */
}

.play-zone {
  /* align-items: baseline; */
  /* background-color: #8862ae; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#tiles-container {
  display: flex;
  flex-wrap: wrap;
  /* margin: auto; */
}

.error {
  color: rgb(238, 134, 15);
}

.players,
.player,
.winner-block__title,
.winner {
  /* font-size: 40px; */
  font-size: 26px;
}

.game-top {
  display: flex;
  column-gap: 7rem;
}

/* ----------------Responsiveness---------------- */

/* -------------Mobile Screen - 320px------------ */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .game-title {
    font-size: 40px;
    margin: 10px auto;
    width: 85%;
  }

  .game-controls {
    align-items: center;
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .tile-count {
    margin: 0 0 20px;
    width: 100%;
  }

  #btnStart {
    margin-right: 0;
  }

  .error {
    margin: 0;
  }

  #btnStart,
  .reset {
    flex: 1;
    padding: 10px 0;
    max-width: 30vw;
  }

  .play-zone {
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
  }

  .players {
    margin: 0;
  }

  .line-break,
  .winner-break {
    display: none;
  }

  .play-zone * {
    font-size: 24px;
  }

  .player-turn {
    display: flex;
  }

  .winner-block__title {
    margin: 0;
  }
}

.player-turn,
.winner-block {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.players,
.winner-block__title,
.error {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .game-top {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .player-turn,
  .winner-block {
    column-gap: 2vw;
  }

  .winner-block {
    display: flex;
  }
}

@media screen and (max-width: 737px) {
  .game-top {
    justify-content: space-between;
  }
}

@media screen and (max-width: 425px) {
  .play-zone * {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .play-zone * {
    font-size: 18px;
  }
}
